# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#chess bases/formats
*.pgn
*.pgn.*
*.jsonl*

.vscode/

build/
build-test/
ChessEnv/
.build*
.engines

chess

#python specyfic
ChessEnv
__*
